.eventsAddPopup {
    position: absolute;
    z-index: 1;
    text-align: center;
    border: 8px double rgb(74, 72, 72);
    padding:30px;
    border-radius: 20px;
    margin-left: 470px;
    margin-top: 50px;
    font-family: 'Tangerine', cursive;
}


.inputwidth{
    width: 500px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
label{
    font-size: 2rem;
    font-weight: 900;
}

