<nav class="navbar navbar-expand-lg bg-light" style="position: fixed;  width: 100%; ">
    <div class="container-fluid">
        <a class="navbar-brand" href="homepage"
            style="font-family: 'Updock', cursive;padding-left: 120px; font-size: 2rem;"><strong>Capture
                Crew</strong></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-outline-dark" style="margin-left: 500px; width: 180px;"
                        (click)="home()">Home</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" style="margin-left: 40px; width: 180px;"
                        (click)="events()">Events</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-dark" style="margin-left: 40px; width: 180px;"
                        (click)="history()">History</button>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="main-div pt-5">
    <div class="row container-fluid mt-5 pt-4">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table" style="margin-top: 0px;">
                <thead class="thead-light table table-danger">
                    <tr>
                        <th scope="col">User Code</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Event Date</th>
                    </tr>
                </thead>
                <tbody class="table table-light">
                    <tr *ngFor="let data of historyArray">
                        <td>{{data.User_Code}}</td>
                        <td>{{data.Deleted_Event}}</td>
                        <td>{{data.Deleted_Event_Date|date:'shortDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>

</div>